/* Structure */
:root {
    --primary-color: salmon;
    --secondary-color: grey;
    --background-color: tan;
}
body {
    background-color: var(--background-color);
    margin: 0;
}
content {
    margin-left: 20%;
    margin-right: 20%;
    background-color: var(--secondary-color);
}
h1, h2, h3 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}
h1 {
    background-color: cadetblue;
    padding: 20px;
    border: solid 1px var(--primary-color);
}

#nav-bar {
    position: sticky;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: cadetblue;
    padding: 20px;
}
.nav-item {
    flex: 1;
    text-decoration: none;
}


/*Main Content*/

#divider {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: var(--secondary-color);
}

/* Top Content */
#top-content {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

#pt1 {
    display: flex;
    flex-direction: row;
    padding: 2%;
}
#basic-text {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-left: 2%;
    padding-left: 1%;
    border-radius: 10px;
}
#pt1 img {
    width: 30%;
    height: 30%;
}
#sub-texts {
    display: flex;
    flex-direction: row;
}
.text-items {
    padding-left: 2%;
}

#sub-content {
    padding-left: 2%;
}


/* Bottom Content */
#bottom-content {
    padding-left: 2%;
}
/* Typography */




/* Larger Resolutions */
@media only screen and (min-width: 720px) {

}