/* Structure */
h1, h2, h3, h4 {
    text-align: center;
}



/* Navigation */

#nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding-inline-start: 0;
    
}
#nav-bar li {
    background-color: gray;
    color: white;
    text-align: center;
    list-style: none;
    padding: 20px;
    border: blue solid 1px;
}
#nav-bar a {
    text-decoration: none;
}
#first-content {
    display: flex;
    flex-direction: row;
    background-color: blue;
}
.top-and-bottom {
    background-color: lightblue;
    color: black;
    flex: 1;
    margin: 0px;
}
.top-and-bottom h2 {
    font-size: large;
    padding-bottom: 20px;
    margin: 10px;
}
.top-and-bottom p {
    margin: 10px;
}
#main-content {
    flex: 1;
    border: blue solid 1px;
}
#links {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#side-bar {
    flex: 4;
    border: blue solid 1px;
}
#ideas {
    display: flex;
    flex-direction: column;
}
.idea {
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;
}
.idea .top-and-bottom h2{
    text-align: left;
}

#columns {
    display: flex;
    flex-direction: row;
}
.cols {
    flex: 1;
    color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.cols p {
    margin-left: 6px;
    margin-right: 6px;
}
.cols ul {
    display: flex;
    color: white;
    padding-inline-start: 0px;
}
.cols li {
    list-style: none;
    text-align: center;
}
.cols img {
    margin:auto;
}
#columns .cols {
    background-color: lightgreen;
}




/* Typography */




/* Mobile Size */
@media (max-width: 965px) {
    #nav-bar ul {
        flex-direction: column;
    }
    #first-content {
        flex-direction: column;
        
    }
    .idea {
        flex-direction: column;
    }
    .idea img {
        margin: auto;
    }
    #columns {
        flex-direction: column;
    }
}