/** Structure **/
body {
    background-color: #EBEBEB;
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}

#assignments {
    display: flex;
    flex-wrap: wrap;
    
    
}
.assignment-item {
    background-color: #CAD2C5;
    flex: 3 0 30%;
    margin: 5px;
    padding: 2px;
    align-items: center;
    text-align: center;
    min-width: 310px;
    max-width: 24%;
    margin-left: auto;
    margin-right: auto;
}
.assignment-item img {
    width: 300px;
    height: 150px;
}
#projects {
    display: flex;
    flex-wrap: wrap;
}
.project-item {
    background-color: #CAD2C5;
    flex: 3 0 30%;
    margin: 5px;
    padding: 2px;
    align-items: center;
    text-align: center;
    min-width: 310px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.project-item img {
    width: 300px;
    height: 150px;
}

/** Navigation **/




/** Typography **/


/** Small Displays **/
@media (max-width: 1109px) {
    #assignments {
        flex-direction: column;
        align-items: center;
    }
    #projects {
        flex-direction: column;
        align-items: center;
    }
    .assignment-item {
        max-width: 95%;
        width: 95%;
    }
    .project-item {
        max-width: 95%;
        width: 95%;
    }
}