body {
    background-color: #5E7349;
    font-family: 'Courier New', Courier, monospace;
}




h1 {
    color:#BFD1AE;
    text-align: center;
    font-size: 30px;
}

h2 {
    color:#806185;
    text-align: left;
    font-size: 26px;
}

p {
    color: #351E38;
    font-size: 20px;
}