/** Structure **/
h1 {
    text-align: center;
    background-color: tan;
}

#three-flex {
    display: flex;
    background-color: #6495ED;
    flex-direction: column;
}
#three-flex h2 {
    text-align: center;
}
.even-flexbox {
    flex: 1;
    background-color: #F0FFFF;
    margin: 10px;
}
#green {
    display: none;
}
#cyan {
    display: block;
}
#change img{
    margin-left: auto;
    margin-right: auto;
}


/** Navigation **/
#slider #emoji {
    text-align: center;
}
#spinner {
    width: 95%;
}


/** Typography **/


@media (min-width: 641px) {
    #three-flex {
        flex-direction: row;
    }
    #green {
        display: none;
    }
    #cyan {
        display: block;
    }
    #change img{
        margin-left: auto;
        margin-right: auto;
    }
}