/* Structure */
h1 {
    text-align: center;
}




/* Navigation */

#nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}
#nav-bar li {
    background-color: gray;
    color: white;
    text-align: center;
    list-style: none;
    padding: 20px;
}
#nav-bar a {
    text-decoration: none;
}

#first-content {
    display:flex;
    flex-direction: row;
}
.top-and-bottom {
    background-color: lightblue;
    color: black;
    flex: 1;
    margin: 10px;
}
.top-and-bottom h2 {
    font-size: large;
    padding-bottom: 20px;
    margin: 10px;
}
.top-and-bottom p {
    margin: 10px;
}
#main-content {
    flex: 2;
}
#side-bar {
    flex: 1;
}

#columns {
    display: flex;
    flex-direction: row;
}
.cols {
    flex: 1;
    background-color: lightgreen;
    color: black;
    margin: 10px
}
.cols h2 {
    margin: 10px;

}
.cols ul {
    display: flex;
    color: white;
    padding-inline-start: 0px;
}
.cols li {
    background-color:royalblue;
    color: white;
    border: blue solid 1px;
    list-style: none;
    padding: 4px;
    margin: 8px;
}




/* Typography */