/* Structure */
:root {
    --primary-color: salmon;
    --secondary-color: grey;
    --background-color: tan;
}
body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}
h1, h2, h3 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}
h1 {
    background-color: cadetblue;
    padding: 20px;
}

#drop-down {
    text-align: center;
}
#arrow {
    width: fit-content;
}
#nav-bar {
    display: flex;
    flex-direction: column;
    text-align: left;
}
#nav-bar h3 {
    flex: 1;
    width: fit-content;
}
#nav-bar a {
    text-decoration: none;
    color: black;
}

#color-slider {
    background-color: rgb(255, 0, 0);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#color-slider input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

#chooser {
    display: none;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 20px;
}
#chooser img {
    margin-top: 20px;
    max-width: 100%;
}

/* Typography */




/* Resizing */
.small {
    width: 25%;
}
.medium {
    width: 66%;
}
.large {
    width: 100%;
}

/* Larger Resolutions */
@media only screen and (min-width: 720px) {
    #nav-bar {
        flex-direction: row;
    }
    #arrow {
        display: none;
    }
    #exercise1 {
        border-right: solid 1px black;
    }
}