/** Structure **/
body {
    margin: 0px;
    background-color: gray;
}

#navbar {
    top: 0;
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-height: 5%;
    width: auto;
    background-color:aquamarine;
    position: sticky;
}
#navbar img {
    max-height: 50px;
    
}
#navbar a {
    background-color:blue;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 1px darkred solid;
}
#navbar input {
    width: 200px;
    
}
#navbar #account {
    
}



/** Navigation **/




/** Typography **/



/** Small Displays **/
@media (max-width: 1109px) {
    
}