/* Structure */

#main-body {
    margin: 0;
}

#mainnav {
    background-color: black;
    position: sticky;
    top: 0;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 10;
}

#main-content {
    background-color:white;
}
h1 {
    font-family: "Berlingske Sans Extracondensed", "Impact", sans-serif;
}
h2, h3, p {
    font-family: "Berlingske Sans", "Arial", sans-serif;
}

.logo {
    height: 40px;
    width: 180px;
    background-color: black;
}

/* Navigation */

#banner ul {
    padding-left: 0;
    display: none;
    padding-right: 10%;
}

#banner ul >*:nth-child(n+6):after {
    padding-left: 6px;
    content: "|";
    position:absolute;
    width: 1px;
    color: white;
}

#banner li {
    font-family: "Berlingske Sans", "Arial", sans-serif;
    font-size: .625rem;
    padding: 0.75em;
    text-transform: uppercase;
    list-style-type: none;
}

#banner a {
    text-decoration: none;
}

#search-bar {
    display: none;
    margin-right: 10%;
    margin-top: 10px;
    border: solid white 1px;
}

#search-bar input {
    background-color: black;
    color: white;
    border: none;
    font-family: "Berlingske Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

#navigation-bar ul {
    padding:0;
}

#navigation-bar h1 {
    list-style-type: none;
    background-color: #73000A;
    color: white;
    font-family: 'Berlingske Serif', 'Georgia', serif;
    font-size: 1.6em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 14.5px;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}


/* Desktop Size */
@media (min-width: 966px) {
    /* Structure */
    


    /* Typography */

    #mainnav .logo {
        height: 60px;
        width: 310px;
    }

    /* Navigation */
    #banner ul {
        display: flex;
        flex-direction: row;
        top: 0;
        right: 0;
        position:absolute;
        margin: 0;
    }

    #search-bar {
        display:flex;
        position:absolute;
        right: 0;
        top: 30px;
    }
}