/** Structure **/
body {
    background-color: rgb(85, 85, 85);
}
#items {
    background-color: cadetblue;
}
h1 {
    text-align: center;
}
p {
    margin-inline: 5px;
}
#toy-list {
    display: flex;
    flex-wrap: wrap;
}
.toy-item {
    background-color: white;
    flex: 3 0 30%;
    display: flex;
    margin: 5px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.toy-item img {
    width: 300px;
    height: 300px;
    position: relative;
    flex: 1;
}
.description {
    position: absolute;
    margin: auto;
    display: none;
}
.flex {
    display: flex;
}



/** Navigation **/


/** Typography **/
.bold {
    font-weight: bold;
    font-size: 24px;
}
.value {
    font-size: 24px;
}

/** Hover **/
.toy-item:hover {
    .description {
        display:inline;
    }
    img {
        opacity: 20%;
    }
}