/** Structure **/
body {
    margin: 0px;
}
h1 {
    text-align: center;
    color: #444A4C;
    background-color: salmon;
    margin: 0px;
}

#exercises {
    display: flex;
    margin-inline: 0px;
    cursor:pointer;
}
.option {
    flex: 1;
    color: salmon;
    background-color: white;
    text-align: center;
    border-bottom: 2px solid transparent;
}
.option h4 {
    margin: 5px;
}

#enter_command {
    background-color: salmon;
    margin: auto;
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
#enter_command h2 {
    white-space: nowrap;
    text-align: center;
}
#enter_command #command {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
}
#enter_command img {
    max-height: 40%;
    margin-left: 35%;
    margin-right: 35%;
}


#yoga {
    background-color: salmon;
    margin: auto;
    padding: 10px;
    width: 60%;
    display: none;
    flex-direction: column;
}
#yoga h2 {
    margin: 4px;
}
#yoga img {
    max-height: 300px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#slide {

}



/** Navigation **/


/** Gradients **/
#gradient_bar {
    --complete: 0%;
    width: 100px;
    height: 500px;
    background-image: linear-gradient(0deg, red var(--complete), white var(--complete));
    align-content: center;
    margin: auto;
}

/** Typography **/

.hidden {
    display: none !important;
}


@media (max-width: 899px) {
    #exercises {
        flex-direction: column;
    }
    .option {
        margin-bottom: 4px;
        background-color: lightgray;
    }

    /** Hamburger Menu **/
    #hamburger_menu div {
        width: 35px;
        height: 5px;
        background-color: gray;
        margin: 6px;
    }
}