/* Structure */
:root {
    --primary-color: salmon;
    --secondary-color: grey;
    --background-color: tan;
}
body {
    background-color: var(--background-color);
    margin: 0;
}
content {
    margin-left: 20%;
    margin-right: 20%;
    background-color: var(--secondary-color);
    width: 500px;
    height: 800px;
}
h1, h2, h3 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}
h1 {
    background-color: cadetblue;
    padding: 20px;
    border: solid 1px var(--primary-color);
}

#nav-bar {
    position: sticky;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: cadetblue;
    padding: 20px;
}
.nav-item {
    flex: 1;
    text-decoration: none;

}

/*Main Content*/

h2 {
    background-color: var(--primary-color);
    width: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#divider {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

/* Filter */
#filter-sort {
    display: flex;
    flex-direction: column;
    flex: 1;
}
ul {
    flex: 1;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    list-style-type: none;
}
li {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Forum Posts */
#forum-posts {
    flex: 4;
    display: flex;
    flex-direction: row;
}


/* Typography */




/* Larger Resolutions */
@media only screen and (min-width: 720px) {

}