/* Structure */
body {
    text-align: center;
    background-color: rgb(228, 211, 137);
}
.margin-top {
    margin-top: 40px;
}
h1 {
    color: grey;
    margin-bottom: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}
.nav-item {
    flex: 1;
    border: lightblue solid 1px;
    text-align: center;
    background-color: cadetblue;
    width: 20%;
    text-wrap: nowrap;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

#main-content {
    padding-left: 20px;
    padding-right: 20px;
}
#top-content {
    display: flex;
    flex-direction: row;
    color: white;
}
#items {
    flex: 3;
    background-color: grey;
    border-radius: 20px 0 0 20px;
}
#item-list {
    display: flex;
    flex-wrap: wrap;
}
.item {
    flex: 1 1 23%;
    width: 24%;
    margin: 1%;
    max-width: 24%;
}
.item p {
    text-align: left;
    width: 95%;
}
.item img {
    width: 80%;
    height: auto;
}

#links {
    flex: 1;
    background-color: salmon;
    border-radius: 0 20px 20px 0;
}
#link-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
}
.link {
    margin-bottom: 3px;
    width: fit-content;
    padding: 2px;
    color: white;
}

#bottom-content {
    color: grey;
    text-align: left;
    margin-left: 4%;
    margin-right: 4%;
}
#ideas {
    display: flex;
    flex-direction: column;
}
.idea {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 1%;
}
.idea img {
    flex: 1;
}
.idea-text {
    flex: 5;
    margin-left: 20px;
}



/* Typography */




/* Smaller Devices */

@media (max-width: 600px) {
    img {
        max-width: 30%;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    .nav-item {
        width: 100%;
        margin: 0;
    }

    #top-content {
        flex-direction: column;
    }
    .margin-top {
        margin-top: 200px;
    }
    #items {
        border-radius: 20px 20px 0 0;
    }
    #item-list {
        flex-direction: column;
    }
    .item {
        width: 95%;
        max-width: 95%;
    }

    #links {
        border-radius: 0 0 20px 20px;
    }
    .idea {
        flex-direction: column;
        text-align: center;
    }
    .idea img {
        margin-right: auto;
        margin-left: auto;
    }
    .idea-text {
        margin-left: 0;
    }
}